﻿<div class="col-lg-10 col-lg-offset-1">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><b>Not valid deal submissions</b></div>
        <div class="panel-body">
            <table st-table="$ctrl.notValid" class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                <thead class="th">
                    <tr>
                        <th>Trade ID</th>
                        <th>Internal party name</th>
                        <th>External party name</th>
                        <th>Validation error</th>
                        <th>Insert time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in $ctrl.notValid">
                        <td>{{entry['TradeID']}}</td>
                        <td>{{entry['InternalPartyID']}}</td>
                        <td>{{entry['ExternalPartyID']}}</td>
                        <td>{{entry['ValidationError']}}</td>
                        <td>{{entry['InsertionTimeStamp']}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loadingNotValid">
                <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
            </div>
        </div>

    </div>

    <br />
    <!-- unaligned price index -->
    <div class="panel"
         ng-class="{'panel-danger': $ctrl.priceIndexesUnaligned.length > 0,
                    'panel-default':  $ctrl.priceIndexesUnaligned === undefined ||  $ctrl.priceIndexesUnaligned.length == 0 }" 
         ng-show="$ctrl.priceIndexesUnaligned.length > 0"
         >
        <div class="panel-heading"><b>Unaligned price index references</b></div>
        <div class="panel-body">
            <table st-table="$ctrl.priceIndexesUnaligned" class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                <thead class="th">
                    <tr>
                        <th>Price index reference</th>
                        <th class="col-md-1">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="priceIndex in $ctrl.priceIndexesUnaligned">
                        <td>{{priceIndex}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" ui-sref="configurationPriceIndexView.edit({userPriceIndexID: priceIndex})" ui-sref-opts="{reload: true}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9999">
                            <div st-pagination="" st-items-by-page="20" st-template="/app/components/pagination/pagination.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


            <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loadingUnalignedPriceIndexes">
                <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
            </div>
        </div>

    </div>

    <div class="panel"
         ng-class="{'panel-danger': $ctrl.partiesUnaligned.length > 0,
                    'panel-default':  $ctrl.partiesUnaligned === undefined ||  $ctrl.partiesUnaligned.length == 0 }"
         ng-show="$ctrl.partiesUnaligned.length > 0"
         >
        <div class="panel-heading"><b>Unaligned party IDs</b></div>
        <div class="panel-body">
            <table st-table="$ctrl.partiesUnaligned" class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                <thead class="th">
                    <tr>
                        <th>Party ID</th>
                        <th class="col-md-1">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partyId in $ctrl.partiesUnaligned">
                        <td>{{partyId}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" ui-sref="configurationCounterpartyView.new({partyID: partyId})" ui-sref-opts="{reload: true}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9999">
                            <div st-pagination="" st-items-by-page="20" st-template="/app/components/pagination/pagination.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


            <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loadingUnalignedParties">
                <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
            </div>
        </div>

    </div>
</div>