﻿<div class="pagination" ng-if="pages.length >= 2" style="cursor:pointer">
    <ul class="pagination">

        <li ng-class="{disabled: currentPage == 1}">
            <a ng-click="selectPage(currentPage-1)" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
            </a>
        </li>

        <li ng-show="pages.indexOf(1) == -1">
            <a ng-click="selectPage(1)">1</a>
        </li>

        <li ng-show="pages.indexOf(2) == -1">
            <a ng-click="selectPage(pages[0])">...</a>
        </li>

        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
            <a ng-click="selectPage(page)">{{page}}</a>
        </li>

        <li ng-show="pages.indexOf(numPages -1) == -1">
            <a ng-click="selectPage(pages[pages.length - 1])">...</a>
        </li>

        <li ng-show="pages.indexOf(numPages) == -1">
            <a ng-click="selectPage(numPages)">{{numPages}}</a>
        </li>

        <li ng-class="{disabled: currentPage == numPages}">
            <a ng-click="selectPage(currentPage+1)" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            </a>
        </li>
    </ul>

</div>