﻿@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('Open-Sans-Italic'), url('/fonts/OpenSans/Italic/OpenSans-Italic.woff') format('woff'), url('/fonts/OpenSans/Italic/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('Open-Sans-Bold'), url('/fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff'), url('/fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('Open-Sans-Regular'), url('/fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'), url('/fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype');
}
