﻿body {
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

tbody > .context {
    background-color: #d9edf7 !important;
}

.pagination {
    margin:10px 0px !important;
}


.commodity-icon {
    font-size: 1em;
    margin-bottom: 0.3em;
}

.nav-icon {
    font-size: 1.5em;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.narrow {
    width: 3%;
}

.input-wide{
    max-width: none !important;
}


td .wrap-text{
    /* css-3 */
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}

/* table sorting icons */

th[st-sort] {
    cursor: pointer;
}
 th[st-sort]:not(.st-sort-ascent):not(.st-sort-descent) span#sort.glyphicon:after{
      padding-left:1em;
      content: "\e150";
      color: #DDD
    }
    th.st-sort-ascent span#sort.glyphicon:after{
      padding-left:1em;
      content: "\e155";
      color: #337ab7
    }
    th.st-sort-descent span#sort.glyphicon:after{
      padding-left:1em;
      content: "\e156";
      color: #337ab7;
      /*color: #b77a33*/
    }


    /* --- */

/* confirmations table scrolling */
table.scrollable.thead {
        display: inline-block;
    }
table.scrollable.tbody {
        overflow-y: scroll; 
        display: block;
        width: 90%;
    }

.row-striped{
  background-color: #f9f9f9;
}

.drop-box{
    background: #f9f9f9;
border: 1px dashed;
width: 100%;
text-align: center;
padding: 30px 10px;

}

.dragover{
    background: #88dd54;
}