﻿<!--<div class="fa fa-search">"Dropdown" status search</div>
<div class="fa fa-refresh"></div>
<table ng-table="$ctrl.tableParameters" class="table table-striped table-bordered table-hover">
    <tr ng-repeat="confirmation in $ctrl.confirmations" context-menu="$ctrl.menuOptions(confirmation)">
        <td title="'Portfolio'" sortable="'portfolio'" header-class="'bg-primary text-white'">
            {{confirmation.portfolio}}
        </td>
        <td title="'Counterparty'" header-class="'bg-primary text-white'">
            {{confirmation.counterparty.name}}, {{confirmation.counterparty.address}}
        </td>
        <td title="'Status'" header-class="'bg-primary text-white'">
            {{confirmation.status}} <span id="trade_status_spinner_{{confirmation.id}}" class="fa fa-spinner fa-spin invisible"></span>
        </td>
    </tr>
</table>-->
<style media="screen" type="text/css">
    body {
        padding-bottom: 0px !important;
    }

    .scrollable {
        width: 100%;
        overflow-x: scroll;
        overflow-y:hidden;
        min-height: 100%;
    }
</style>

<!--<div class="scrollable">-->
<div style="width: 100%;white-space:nowrap" st-safe-src="$ctrl.displayConfirmations" st-table="$ctrl.confirmations">
    <div class="scrollable">
        <table class="table table-striped table-hover table-condensed scrollable" style="white-space: nowrap;min-height:100%">
            <thead class="th">
                <tr>
                    <th class="text-center" ng-repeat="column in $ctrl.columns" ng-hide="column === 'NextStatuses'">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="confirmation in $ctrl.confirmations" 
                    context-menu="$ctrl.menuOptions(confirmation)" 
                    ng-attr-id="{{confirmation['Trade ID'] + '_' + confirmation['Internal party ID']}}">

                    <td ng-repeat="(key, value) in confirmation"
                        ng-hide="key === 'NextStatuses'">
                        <span ng-attr-id="{{key}}">
                            {{value == 'NULL' || value === undefined ? '' : value}}
                        </span>
                        <span class="fa fa-spinner fa-spin invisible" id="updateSpinner" ng-if="key === 'Status'"></span>
                    </td>
                </tr>

            </tbody>
            <!--<tfoot>
                <tr>
                   
                </tr>
            </tfoot>-->
        </table>


        <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loading">
            <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
        </div>
    </div>
    <td colspan="9999">
        <div st-pagination="" st-items-by-page="$ctrl.itemsByPage" st-template="/app/components/pagination/pagination.html"></div>
    </td>
</div>