﻿<div class="col-md-offset-1">
    <div class="col-md-12 container">
        <div class="col-sm-7">
            <a ui-sref="confirmationsView" class="btn btn-default btn-sm" tabindex="-1"><span class="fa fa-angle-left fa-lg"></span> Back</a>
        </div>
        <div class="col-sm-3 text-right">
            TradeID: {{$ctrl.confirmation['Trade ID']}}<br/>InternalPartyID: {{$ctrl.confirmation['Internal party ID']}}
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-12 container">


        <div class="col-md-10 container">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-envelope"></span>&nbsp;&nbsp;Document inbox</div>
                <div class="panel-body">
                    
                    
                    <div ngf-select="$ctrl.uploadFiles($files)" 
                         ngf-accept="'image/*,application/pdf'" 
                         ngf-pattern="'image/*,application/pdf'" 
                         ngf-drop="$ctrl.uploadFiles($files)" 
                         ngf-multiple="true" 
                         class="drop-box" 
                         ngf-drag-over-class="drop-box-over"
                         ngf-drop-available="dropAvailable">
                        Select
                        <span ng-show="dropAvailable"> or Drop</span>
                         Files
                    </div>
                    <br />
                    <table class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%" ng-show="$ctrl.uploadedDocumentInfos.length > 0">
                        <thead><tr><th>Download</th><th>Source</th><th>Size</th><th>Received</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="document in $ctrl.uploadedDocumentInfos">
                                <td><a ng-href="{{'/api/v1/document/uploaded/' + document.ID}}">{{document.DocumentName}}</a></td>
                                <td>
                                    <div ng-switch="document.AutoMatched">
                                        <div ng-switch-when="true">
                                            Auto match [From {{document.SourceEmail}}]
                                        </div>
                                        <div ng-switch-default>
                                            Manual upload [User: {{document.UserID}}]
                                        </div>
                                    </div>
                                    {{document.SentFrom}}
                                </td>
                                <td>{{document.DocumentSizeBytes / 1024 | number:0}} KB</td>
                                <td>{{document.TimeStamp | date: 'dd-MM-yyyy H:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-10 container">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-paperclip"></span>&nbsp;&nbsp;Documents</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                        <thead><tr><th>Download</th><th>Send</th><th>Template name</th><th>Size</th><th>Created on</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="document in $ctrl.generatedDocumentInfos">
                                <td><a ng-href="{{'/api/v1/document/generated/' + document.MessageID}}">{{document.PdfFileName}}</a></td>
                                <td><select><option>backOffice@company.com</option></select></td>
                                <td>{{document.TemplateName}}</td>
                                <td>{{document.PdfFileSizeBytes / 1024 | number:0}} KB</td>
                                <td>{{document.TimeStamp | date: 'dd-MM-yyyy H:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

        <div class="col-md-10 container">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-list-alt"></span>&nbsp;&nbsp;Audit</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                        <thead><tr><th>Status</th><th>Timestamp</th><th>User</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="audit in $ctrl.audits">
                                <td>
                                    {{audit.StatusName}}
                                </td>
                                <td>{{audit.Timestamp}}</td>
                                <td>John Smith</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-10 container">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-info"></span>&nbsp;&nbsp;Trade facts</div>
                <div class="panel-body">

                    <div ng-repeat="(key, value) in $ctrl.confirmation"
                         ng-hide="key === 'NextStatuses'" class="row"
                         ng-class-odd="'row-striped'">

                        <div class="col-md-5">{{key}}</div>
                        <div class="col-md-7">{{value == 'NULL' || value === undefined ? '' : value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
