﻿<style media="screen" type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }
    .ng-table-filters{
        background-color: #d9edf7;
    }
</style>
<ol class="breadcrumb">
    <li>Configuration</li>
    <li class="active">Counterparties</li>
</ol>
<div class="col-lg-10 col-lg-offset-1">
    <div class="btn-toolbar" role="toolbar" aria-label="">
        <a class="btn btn-primary btn-sm pull-right" ui-sref="configurationCounterpartyView"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</a>
    </div>
    <br />
    <!--<table ng-table="$ctrl.tableParasms" class="table table-hover table-condensed" show-filter="true">
        <colgroup>
            <col class="col-md-2" />
            <col class="col-md-2" />
            <col class="col-md-7" />
            <col class="col-md-1" />
            
        </colgroup>
        <tr ng-repeat="row in $data">
            <td data-title="'Party ID'" filter="{ PartyId: 'text'}" sortable="'PartyId'">
                {{row.PartyId}}
            </td>
            <td title="'Party name'">
                {{row.PartyName}}
            </td>
            <td title="'Contact info'">
                <span ng-repeat="line in row.ContactInfo.Address.StreetAddressLines">{{line}}<br/></span>
                {{row.ContactInfo.Address.City}}<span ng-if="row.ContactInfo.Address.State.length + row.ContactInfo.Address.PostalCode.length > 0">, {{row.ContactInfo.Address.State}} {{row.ContactInfo.Address.PostalCode}}</span><br />
                {{row.ContactInfo.Address.Country.Name}}
            </td>
            <!--<td title="'Contacts'">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="contact in row.Contacts">

                        <!--keep in one line because of whitespaces--
                        <span>{{contact.Name}}</span><span ng-show="contact.Email.length > 0">, {{contact.Email}}</span><span ng-show="contact.Phone.length > 0">, {{contact.Phone}}</span>
                        <span ng-if="contact.Annotations.length > 0">&gt; {{contact.Annotations | limitTo:20 }}{{contact.Annotations.length > 20? '...' : ''}}</span>
                    </li>
                </ul>
            </td>--
            <td>
                <a class="btn btn-default btn-sm" ui-sref="configurationCounterpartyView.edit({partyId: row.PartyId})"><span class="glyphicon glyphicon-pencil"></span></a>
                <button class="btn btn-default btn-sm" ng-click="$ctrl.delete(row.PartyId)" tabindex="-1"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
    </table>-->
    <table st-safe-src="$ctrl.parties" st-table="$ctrl.displayParties" class="table table-hover table-condensed">
        <thead>
            <tr class="sortable">
                <th class="col-md-3 text-center" st-sort="PartyID">Party ID<span id="sort" class="glyphicon"></span></th>
                <th class="col-md-3 text-center">Party name</th>
                <th class="col-md-5 text-center">Contact Info</th>
                <td class="col-md-1 text-center"></td>
            </tr>
            <tr class="info">
                <th>
                    <input st-search="PartyID" placeholder="Search for Party ID" class="input-sm form-control" type="search" />
                </th>
                <th colspan="4">
                    <!--<input st-search placeholder="global search" class="input-sm form-control" type="search" />-->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.displayParties">
                <td>
                    {{row.PartyID}}
                </td>
                <td title="'Party name'">
                    {{row.PartyName}}
                </td>
                <td title="'Contact info'">
                    <div ng-repeat="address in row.ContactInfo.Address"></div>
                    <span>{{row.ContactInfo.Address.StreetAddressLine1}}<br /></span>
                    <span ng-if="row.ContactInfo.Address.StreetAddressLine2.length > 0">{{row.ContactInfo.Address.StreetAddressLine2}}<br /></span>
                    <span ng-if="row.ContactInfo.Address.StreetAddressLine3.length > 0">{{row.ContactInfo.Address.StreetAddressLine3}}<br /></span>
                    <span ng-if="row.ContactInfo.Address.StreetAddressLine4.length > 0">{{row.ContactInfo.Address.StreetAddressLine4}}<br /></span>
                    <span ng-if="row.ContactInfo.Address.StreetAddressLine5.length > 0">{{row.ContactInfo.Address.StreetAddressLine5}}<br /></span>
                    {{row.ContactInfo.Address.City}}<span ng-if="row.ContactInfo.Address.State.length + row.ContactInfo.Address.PostalCode.length > 0">, {{row.ContactInfo.Address.State}} {{row.ContactInfo.Address.PostalCode}}</span><br />
                    {{row.ContactInfo.Address.Country}}
                </td>
                <!--<td title="'Contacts'">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="contact in row.Contacts">

                        <!--keep in one line because of whitespaces--
                        <span>{{contact.Name}}</span><span ng-show="contact.Email.length > 0">, {{contact.Email}}</span><span ng-show="contact.Phone.length > 0">, {{contact.Phone}}</span>
                        <span ng-if="contact.Annotations.length > 0">&gt; {{contact.Annotations | limitTo:20 }}{{contact.Annotations.length > 20? '...' : ''}}</span>
                    </li>
                </ul>
            </td>-->
                <td>
                    <a class="btn btn-default btn-sm" ui-sref="configurationCounterpartyView.edit({partyID: row.PartyID})" ui-sref-opts="{reload: true}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <!--<button class="btn btn-default btn-sm" ng-click="$ctrl.delete(row.PartyID)" tabindex="-1"><span class="glyphicon glyphicon-trash"></span></button>-->
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="30"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loading">
        <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
    </div>
</div>