﻿<style media="screen" type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .ng-table-pager {
        display: none;
    }
</style>
<ol class="breadcrumb">
    <li>Configuration</li>
    <li class="active">Counterparty</li>
</ol>
<div class="col-lg-10 col-lg-offset-1">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar" aria-label="">
            <a ui-sref="configurationCounterpartiesView" class="btn btn-default btn-sm" tabindex="-1"><span class="fa fa-angle-left fa-lg"></span> Cancel</a>
            <button class="btn btn-success btn-sm pull-right" ng-click="$ctrl.apply(row.PartyId)" tabindex="-1"><span class="fa fa-check"></span> Apply</button>
        </div>
    </div>
    <br />
    <br />
    <div class="col-lg-12 col-lg-offset-0" style="z-index:3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-edit"></span>&nbsp;&nbsp;Details</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">

                    <div class="form-group">

                        <label for="partyId" class="col-md-2 control-label">Party ID</label>
                        <div class="col-md-10" ng-switch="$ctrl.isUpdate" ng-form="partyIdForm">
                            <span ng-switch-default class="control-label">{{$ctrl.party.PartyID}}</span>
                            <div class="controls" ng-switch-when="false">
                                <input type="text" ng-model="$ctrl.party.PartyID" id="partyID" placeholder="Unique party identifier" class="form-control input-wide" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Party name</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.PartyName" id="name" class="form-control input-wide">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="lei" class="col-md-2 control-label">LEI Code</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.LEI" id="lei" class="form-control input-wide">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="eic" class="col-md-2 control-label">EIC Code</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.EIC" id="eic" class="form-control input-wide">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ean" class="col-md-2 control-label">EAN Code</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.EAN" id="ean" class="form-control input-wide">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="agreement" class="col-md-2 control-label">Agreement text</label>
                        <div class="col-md-10">
                            <textarea class="form-control input-wide" ng-model="$ctrl.party.Agreement" id="agreement" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-lg-offset-0" style="z-index:2">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-address-book-o"></span>&nbsp;&nbsp;Contact info</div>
            <div class="panel-body">

                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="phone" class="col-md-2 control-label">Phone</label>
                        <div class="col-md-10">
                            <input type="text" id="phone" class="form-control input-wide" ng-model="$ctrl.party.ContactInfo.Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">E-mail</label>
                        <div class="col-md-10">
                            <input type="text" id="email" class="form-control input-wide" ng-model="$ctrl.party.ContactInfo.Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address1" class="col-md-2 control-label">Address line 1</label>
                        <div class="col-md-10">
                            <input type="text" id="address1" class="form-control input-wide"  ng-model="$ctrl.party.ContactInfo.Address.StreetAddressLine1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Address line 2</label>
                        <div class="col-md-10">
                            <input type="text" id="address2" class="form-control input-wide" ng-model="$ctrl.party.ContactInfo.Address.StreetAddressLine2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Address line 3</label>
                        <div class="col-md-10">
                            <input type="text" id="address3" class="form-control input-wide" ng-model="$ctrl.party.ContactInfo.Address.StreetAddressLine3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Address line 4</label>
                        <div class="col-md-10">
                            <input type="text" id="address4" class="form-control input-wide" ng-model="$ctrl.party.ContactInfo.Address.StreetAddressLine4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Address line 5</label>
                        <div class="col-md-10">
                            <input type="text" id="address5" class="form-control input-wide" ng-model="$ctrl.party.ContactInfo.Address.StreetAddressLine5">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="country" class="col-md-2 control-label">Postal code</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.ContactInfo.Address.PostalCode" id="country" class="form-control input-wide">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-md-2 control-label">City</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.ContactInfo.Address.City" id="city" class="form-control input-wide">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country" class="col-md-2 control-label">Country</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="$ctrl.party.ContactInfo.Address.Country" id="country" class="form-control input-wide">
                        </div>
                    </div>

                    <!--<div ng-repeat="item in $ctrl.party.ContactInfo.Address.StreetAddressLines">
            <pre>{{item}}</pre>
        </div>-->
                </form>
            </div>
        </div>
    </div>
    <!--<div class="col-md-12 col-lg-offset-0">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-address-card-o"></span>&nbsp;&nbsp;Contacts</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" id="name" class="form-control" ng-model="$ctrl.contact.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-3 control-label">Phone</label>
                        <div class="col-md-9">
                            <input type="text" id="phone" class="form-control" ng-model="$ctrl.contact.phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">E-mail</label>
                        <div class="col-md-9">
                            <input type="text" id="email" class="form-control" ng-model="$ctrl.contact.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="annotations" class="col-md-3 control-label">Annotations</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="annotations" rows="3" ng-model="$ctrl.contact.annotations"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.addContact()"><span class="fa fa-plus-circle fa-lg"></span></button>
                        </div>
                    </div>
                </form>
            </div>-->
            <!--<table ng-table="$ctrl.tableParams" class="table table-bordered table-hover table-condensed editable-table" ng-form="$ctrl.tableForm" disable-filter="$ctrl.isAdding">
                <colgroup>
                    <col width="30%" />
                    <col width="16%" />
                    <col width="20%" />
                    <col width="30%" />
                    <col width="4%" />
                </colgroup>
                <tr ng-repeat="contact in $ctrl.party.Contacts" ng-form="contactForm">
                    <td title="'Name'" ng-switch="contact.isEditing" ng-form="name">
                        <span ng-switch-default class="editable-text">{{contact.Name}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="name" ng-model="contact.Name" class="editable-input form-control input-sm input-wide" />
                        </div>
                    </td>
                    <td title="'Phone'" ng-switch="contact.isEditing" ng-form="phone">
                        <span ng-switch-default class="editable-text">{{contact.Phone}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="phone" ng-model="contact.Phone" class="editable-input form-control input-sm input-wide" />
                        </div>
                    </td>
                    <td title="'E-mail'" ng-switch="contact.isEditing" ng-form="email">
                        <span ng-switch-default class="editable-text">{{contact.Email}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="email" ng-model="contact.Email" class="editable-input form-control input-sm input-wide" />
                        </div>
                    </td>
                    <td title="'Annotations'" ng-switch="contact.isEditing" ng-form="annotations">
                        <span ng-switch-default class="editable-text">{{contact.Annotations}}</span>
                        <div class="controls" ng-switch-when="true">
                            <input type="text" name="annotations" ng-model="contact.Annotations" class="editable-input form-control input-sm input-wide" />
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="$ctrl.save(contact, contactForm)" ng-if="contact.isEditing" tabindex="-1"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.cancel(contact, contactForm)" ng-if="contact.isEditing" tabindex="-1"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="contact.isEditing = true" ng-if="!contact.isEditing" tabindex="-1"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.del(contact)" ng-if="!contact.isEditing" tabindex="-1"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="nameadd" name="nameadd" ng-model="$ctrl.contact.Name" class="editable-input form-control input-sm input-wide" />
                    </td>
                    <td>
                        <input type="text" name="phoneadd" ng-model="$ctrl.contact.Phone" class="editable-input form-control input-sm input-wide" />
                    </td>
                    <td>
                        <input type="text" name="emailadd" ng-model="$ctrl.contact.Email" class="editable-input form-control input-sm input-wide" />
                    </td>
                    <td>
                        <input type="text" name="annotationsadd" ng-model="$ctrl.contact.Annotations" class="editable-input form-control input-sm input-wide" />
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="$ctrl.addContact()"><span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
            </table>

        </div>
    </div>-->
</div>