﻿<style media="screen" type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }
</style>
<ol class="breadcrumb">
    <li>Configuration</li>
    <li class="active">Price index</li>
</ol>
<div class="col-lg-10 col-lg-offset-1">


    <div class="row">
        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="index-name-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
                <input ng-model="$ctrl.userPriceIndexInput" type="text" class="form-control input-wide" placeholder="Type in index reference" aria-describedby="index-name-addon" ng-keyup="$ctrl.userPriceIndexInputKeyup()">
            </div>
        </div>
        <div class="col-lg-6" ng-switch="$ctrl.applying">
            <button type="button" class="btn btn-sm btn-success" ng-click="$ctrl.applyMappingClick()" ng-switch-default><span class="fa fa-check"></span> Apply</button>
            <span class="fa fa-spinner fa-spin" ng-switch-when="true"></span>
        </div>
    </div>
    <br />
    <div id="warningUserPriceIndexInput" class="alert alert-warning ng-hide" role="alert" ng-show="$ctrl.showWarningUserPriceIndexInput">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        Please provide an index reference
    </div>
    <div id="warningSelectedPriceIndex" class="alert alert-warning ng-hide" role="alert" ng-show="$ctrl.showWarningSelectedPriceIndex">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        Please select a standard price index
    </div>
    <div id="applyError" class="alert alert-danger ng-hide" role="alert" ng-show="$ctrl.showApplyError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Could not apply mapping. Please contact support.
    </div>
    <div id="applySuccess" class="alert alert-success ng-hide" role="alert" ng-show="$ctrl.showApplySuccess">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Index <span ng-bind="$ctrl.updatedUserIndexId"></span> correctly mapped to <span ng-bind="$ctrl.updatedIndexCode"></span>.
    </div>
    <!--<uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Power">-->
    <h4><span class="glyphicon glyphicon-resize-small"></span> Select standard price index to translate to</h4>
    <table ng-table="$ctrl.tableParameters" class="table table-striped table-bordered table-hover">
        <tr class="info">
            <td header-class="'bg-primary text-white narrow'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>
            <td title="'Price index'" sortable="'priceIndex.Code'" header-class="'bg-primary text-white col-md-3'">Find by keywords</td>
            <td title="'Description'" header-class="'bg-primary text-white col-md-6'"><input type="text" class="form-control input-wide" ng-model="keywords" placeholder="e.g. TTF HEREN" aria-describedby="search-addon" /></td>
            <td title="'Reference'" header-class="'bg-primary text-white col-md-2'"></td>
        </tr>
        <tr ng-repeat="priceIndex in $ctrl.priceIndexes | findPIdxBy:keywords">
            <td>
                <input value="{{priceIndex.ID}}" type="radio" name="priceIndexRadio" ng-model="$ctrl.selectedPriceIndex" ng-click="$ctrl.priceIndexRadioClick()" />
            </td>
            <td>
                <span ng-attr-id="{{'code'+ priceIndex.ID}}">{{priceIndex.Code}}</span>
            </td>
            <td>
                {{priceIndex.Description}}
            </td>
            <td>
                {{priceIndex.UserPriceIndexIDs.join(", ") }}
            </td>
        </tr>
    </table>
    <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loading">
        <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
    </div>
    <!--</uib-tab>
        <uib-tab index="1" heading="Oil">Oil</uib-tab>
        <uib-tab index="2" heading="Gas">Gas</uib-tab>
    </uib-tabset>-->

</div>
