﻿<style media="screen" type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }
</style>
<ol class="breadcrumb">
    <li>Configuration</li>
    <li class="active">Translator</li>
</ol>
<div class="col-lg-10 col-lg-offset-1">


    <div class="row">
        <div class="col-lg-10">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="phrase-addon"><span class="fa fa-language" aria-hidden="true"></span></span>
                <input ng-model="$ctrl.phraseInput" tabindex="1" type="text" class="form-control input-wide" placeholder="Type in phrase" aria-describedby="phrase-addon" ng-keyup="$ctrl.phraseInputKeyup()">
            </div>
        </div>
        <div class="col-lg-2" ng-switch="$ctrl.applying">
            <button tabindex="3" type="button" class="btn btn-sm btn-success" ng-click="$ctrl.applyMappingClick()" ng-switch-default><span class="fa fa-check"></span> Apply</button>
            <span class="fa fa-spinner fa-spin" ng-switch-when="true"></span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-10">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="translation-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
                <input ng-model="$ctrl.translationInput" id="translationBar" tabindex="2" type="text" class="form-control input-wide" placeholder="Translation" aria-describedby="translation-addon" ng-keyup="$ctrl.translationInputKeyup()">
            </div>
        </div>
    </div>

    <br />
    <div id="warningphraseInput" class="alert alert-warning ng-hide" role="alert" ng-show="$ctrl.showWarningPhraseInput">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        Please provide a phrase
    </div>
    <div id="warningSelectedPriceIndex" class="alert alert-warning ng-hide" role="alert" ng-show="$ctrl.showWarningTranslationInput">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        Please provide a translation
    </div>
    <div id="applyError" class="alert alert-danger ng-hide" role="alert" ng-show="$ctrl.showApplyError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Could not apply translation. Please contact support.
    </div>
    <div id="applySuccess" class="alert alert-success ng-hide" role="alert" ng-show="$ctrl.showApplySuccess">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Phrase: <span ng-bind="$ctrl.updatedPhrase"></span> correctly translated to <span ng-bind="$ctrl.updatedTranslation"></span>.
    </div>

    <h4>Active translations [<span ng-model="$ctrl.translations.length">{{$ctrl.translations.length}}</span>]:</h4>
    <table ng-table="$ctrl.tableParameters" class="table table-striped table-bordered table-hover">
        <tr class="info">
            <td title="'Phrase'" sortable="'translation.phrase'" header-class="'bg-primary text-white col-md-5'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp; Find:</td>
            <td title="'Translation'" header-class="'bg-primary text-white col-md-6'"><input tabindex="4" type="text" class="form-control input-wide" ng-model="keywords" placeholder="search" aria-describedby="search-addon" /></td>
        </tr>
        <tr ng-repeat="translation in $ctrl.translations | findBy:keywords">
            <td>
                <span>{{translation.Phrase}}</span>
            </td>
            <td>
                {{translation.Translation}}
            </td>
        </tr>
    </table>
    <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loading">
        <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
    </div>

</div>
