﻿<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            EscaladeTek
        </a>
    </div>
</nav>
<div class="container-fluid col-md-10 col-md-offset-1">
    <div class="jumbotron text-center">
        <h2><span class="label label-default">Gotham</span></h2>
        <h1>Energy Trading Confirmations</h1><br /><br/>
        <p>We are happy to announce the start of development of Gotham.</p>
        <div style="font-size:2em !important" class="col-sm-offset-3 text-left">
            <ul class="list-unstyled">
                <li><span class="fa fa-check text-success"></span> <a target="_self" href="#cloud">Cloud based</a></li>
                <li><span class="fa fa-check text-success"></span> <a target="_self" href="#templates">Custom document templates</a></li>
                <li><span class="fa fa-check text-success"></span> <a target="_self" href="#web">Web based operations</a></li>
                <li><span class="fa fa-check text-success"></span> <a target="_self" href="#integration">Simple ETRM integration with REST Api</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h1><a name="cloud" id="cloud">Cloud based</a></h1></div>
        <div class="panel-body text-center">
            <br/>
            <img style="margin-top:30px; margin-bottom:60px" src="../../img/ConfirmationWorkflow.png" />
            
            <h2>Cloud based solution will optimize your operations and reduce costs.</h2>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h1><a name="templates" id="templates">Custom document templates</a></h1></div>
        <div class="panel-body text-center">
            <br />
            <img style="margin-top:30px; margin-bottom:60px;width:80%;" src="../../img/TemplateAddin.jpeg" />

            <h2>Integration with Microsoft Word allows quick integration into the IT landscape.</h2>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h1><a name="web" id="web">Web based operations</a></h1></div>
        <div class="panel-body text-center">
            <br />
            <img style="margin-top:30px; margin-bottom:60px;width:80%;" src="../../img/GothamTrades.jpg" />
            <img style="margin-top:30px; margin-bottom:60px;width:80%;" src="../../img/GothamConfiguration.jpg" />
            <h2>Feature rich website supports every step of confirmation lifecycle.<br/>From overview to mapping custom indexes</h2>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3><span class="fa fa-address-card"></span> Contact</h3></div>
        <div class="panel-body text-center" style="font-size:1.5em !important">
            <br/><br/>
            <address>
                <strong>Escalade</strong><br />
                Zug<br />
                <span class="fa fa-phone"></span> +41 76 ..
            </address>
        </div>
    </div>
    

    <p class="text-center">All rights reserved <span class="fa fa-copyright"></span> 2017</p>
</div>
