﻿<div class="col-lg-10 col-lg-offset-1">
    <br />

    <!-- new entries -->
    <div class="panel panel-default">
        <div class="panel-heading"><b>New confirmations</b></div>
        <div class="panel-body">
            <table st-table="$ctrl.newEntries" class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                <thead class="th">
                    <tr>
                        <th>Trade ID</th>
                        <th>Internal party name</th>
                        <th>External party name</th>
                        <th>Insert time</th>
                        <th class="col-md-1">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="newEntry in $ctrl.newEntries">
                        <td>{{newEntry['Trade ID']}}</td>
                        <td>{{newEntry['Internal party name']}}</td>
                        <td>{{newEntry['External party name']}}</td>
                        <td>{{newEntry['Insertion time']}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" ui-sref="confirmationDetailsView({tradeId: newEntry['Trade ID'], internalPartyId: newEntry['Internal party ID']})"><span class="fa fa-info-circle"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loadingNewEntries">
                <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
            </div>
        </div>

    </div>

    <!-- unaligned price index -->
    <div class="panel"
         ng-class="{'panel-danger': $ctrl.priceIndexesUnaligned.length > 0,
                    'panel-default':  $ctrl.priceIndexesUnaligned === undefined ||  $ctrl.priceIndexesUnaligned.length == 0 }">
        <div class="panel-heading"><b>Unaligned price index references</b></div>
        <div class="panel-body">
            <table st-table="$ctrl.priceIndexesUnaligned" class="table table-striped table-hover table-condensed" style="white-space: nowrap;min-height:100%">
                <thead class="th">
                    <tr>
                        <th>Price index reference</th>
                        <th class="col-md-1">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="priceIndex in $ctrl.priceIndexesUnaligned">
                        <td>{{priceIndex}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" ui-sref="configurationPriceIndexView.edit({userPriceIndexID: priceIndex})"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9999">
                            <div st-pagination="" st-items-by-page="10" st-template="/app/components/pagination/pagination.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


            <div class="jumbotron text-center ng-hide" ng-show="$ctrl.loadingUnalignedPriceIndexes">
                <span class="fa fa-circle-o-notch fa-spin fa-lg" style="font-size:2em;"></span>
            </div>
        </div>

    </div>

    <br />
    <!--<div class="text-center">
        <img src="http://i.telegraph.co.uk/multimedia/archive/01995/Batman__Arkham_Cit_1995433b.jpg" height="388">
    </div>-->
    <br/>
</div>