﻿<header>
    <nav class="navbar navbar-collapse navbar-default navbar-static-top">
        <div class="container-fullwidth">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gotham</a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav-bar" uib-collapse="isNavCollapsed">
                <ul class="nav nav-justified">
                    <!--<li class="active"><a ui-sref="powerConfirmationsView"><span class="fa fa-flash commodity-icon"></span><div>Power</div></a></li>
        <li><a href=""><span class="fa fa-tint commodity-icon"></span><div>Oil</div></a></li>

        <li><a href=""><span class="fa fa-fire commodity-icon"></span><div>Gas</div></a></li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a href id="settings-dropdown" uib-dropdown-toggle>
                <span class="fa fa-gears commodity-icon"></span>
                <div>Settings <span class="caret"></span></div>
            </a>
            <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="settings-dropdown">
                <li role="menuitem"><a ui-sref="translatorView">Price indexes</a></li>
                <li role="menuitem"><a ui-sref="counterpartiesView">Counterparties</a></li>
            </ul>
        </li>-->
                    <li class="active">
                        <a ui-sref="confirmationsView" ui-sref-opts="{reload: true}">
                            <span class="fa fa-file-text-o nav-icon"></span>&nbsp;&nbsp;Paper confirm
                        </a>
                    </li>
                    <li uib-dropdown on-toggle="toggled(open)">
                        <a href id="settings-dropdown" uib-dropdown-toggle>
                            <span class="fa fa-th-list nav-icon"></span>
                            &nbsp;&nbsp;By schemas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="settings-dropdown">
                            <li role="menuitem" ng-repeat="schema in $ctrl.schemas">
                                <a ui-sref="confirmationsView.schema({schemaId: schema.SchemaID })" ui-sref-opts="{reload: true}">
                                    {{schema.SchemaName}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href=""><span class="fa fa-magic nav-icon"></span>&nbsp;&nbsp;Custom</a></li> <!-- magic wrench -->
                    <li>
                        <a ui-sref="hospitalView" ui-sref-opts="{reload: true}">
                            <span class="fa fa-medkit nav-icon"></span>&nbsp;&nbsp;Hospital
                            <span ng-if="$ctrl.hospitalCount > 0">
                                &nbsp;&nbsp;<span class="label label-danger" ng-model="$ctrl.hospitalCount">{{$ctrl.hospitalCount}}</span>
                            </span>
                        </a>
                    </li>
                    <li uib-dropdown on-toggle="toggled(open)">
                        <a href id="settings-dropdown" uib-dropdown-toggle>
                            <span class="fa fa-gears nav-icon"></span>
                            &nbsp;&nbsp;Configuration <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="settings-dropdown">
                            <li role="menuitem"><a ui-sref="configurationPriceIndexView">Price index</a></li>
                            <li role="menuitem"><a ui-sref="configurationCounterpartiesView">Counterparty</a></li>
                            <li role="menuitem"><a ui-sref="configurationTranslatorView">Translator</a></li>
                        </ul>
                    </li>

                </ul>
                <!--<ul class="nav navbar-nav nav-justified">
                    <li class="active"><a ui-sref="powerConfirmationsView"><span class="glyphicon glyphicon-flash commodity-icon"></span><div>POWER</div></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-tint commodity-icon"></span><div>OIL</div></a></li>
                    <li><a href=""><span class="fa fa-fire commodity-icon"></span><div>GAS</div></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-cog commodity-icon"></span><div>SETTINGS</div></a></li>
                    <li><a ui-sref="translatorView"><span class="fa fa-gears commodity-icon"></span><div>SETTINGS</div></a></li>
                    
                    
                </ul>-->
            </div>
        </div>
    </nav>
</header>